:root {
    color-scheme: light dark;
    --background-menu: rgba(195, 35, 88);
    --blanco: #fcf3eb;
    --negro-claro: #2e3440;
    --negro-oscuro: #222;
    --gris-claro: #eee;
    --gris: #ccc;
    --azul-claro: rgba(66,186,255);
    --azul-oscuro: rgb(26,72,151);
    --verde-claro: #67ca50;
    --verde-oscuro: seagreen;
    --morado: #9500ff;
    --azul-eletrico:#09f;
    --azul-aquamarina: #00DDFF;
    --violeta-oscuro: rgb(101, 83, 237);
    --violeta-claro: rgb(128, 90, 224);
    --violeta-rosa: rgb(188, 103, 199);
    --transparency-hard: rgba(0, 0, 0, .7);
    --transparency-soft: rgba(255, 255, 255, .2);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    box-sizing: inherit;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*****************************

MENU

*****************************/

.main {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-menu);
    color: var(--negro-claro);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 200px);
    justify-content: center;
    align-content: center;
    grid-template-areas: "about about gallery gallery"
                        "about about contact us";
                        gap : 20px;

}

.imenu{
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.imenu a{
    text-decoration: none;
    color: var(--gris);
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
}

.imenu .back, 
.imenu .front { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.about{
    grid-area: about;
}

.gallery{
    grid-area: gallery;
}


.contact{
    grid-area: contact;
}

.us{
    grid-area: us;
}

.front {
    background-color: var(--gris-claro);
    z-index: 2;
  
}

.back {
    background-color: var(--negro-claro);
    z-index: 1;

}

.imenu:hover .front {
    transform: translateY(-100%);
    transition: all 0.5s ease;
}

.about .front{
    background-image: url(../img/portada-05.jpg);
    background-position: center center;
    background-size: cover;
}

.gallery .front{
    background-image: url(../img/portada-01.jpg);
    background-position: center center;
    background-size: cover;
}

.us .front{
    background-image: url(../img/portada-06.jpg);
    background-position: center center;
    background-size: cover;
}

.contact .front{
    background-image: url(../img/portada-07.jpg);
    background-position: center center;
    background-size: cover;
}

/*****************************

ABOUT

*****************************/

#about{
    /*background-color: var(--azul-oscuro);*/
    color: var(--blanco);
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;

}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.capa{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--transparency-hard);
    /*mix-blend-mode: overlay;*/
    z-index: 0;
}

#about .texto{
    flex: 40%;
    padding: 30px;
    text-align: justify;
    z-index: 2;
    margin-left: 200px;
}

#about .texto .btn{
    margin-top: 20px;
    border:0;
    background-image: linear-gradient(150deg, var(--morado), var(--azul-eletrico), var(--azul-aquamarina));
    border-radius: 8px;
    color: var(--blanco);
    display:flex;
    font-size: 14px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}

#about .texto .btn span {
    background-color: var(--negro-oscuro);
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}

.texto .btn span{
    font-size: 14px;
    font-weight: bold;
}

#about .texto .btn:hover span {
    background:none;
}

.btn:active{
    transform: scale(0.9);
}


#about .imagen{
    flex: 60%;
    z-index: 2;
}

#about .imagen img{

    object-fit: cover;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0.8));
    mask-image: linear-gradient(black 80%, transparent);
    width: 350px;
    height: 520px;
}


/*****************************

GALLERY

*****************************/

#gallery {
    width: 100vw;
    height: 100vh;
    background-color: var(--negro-oscuro);
}


.galeria{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.galeria div {
    position:relative;
    width: 250px;
    transition: all .3s ease;
}

.galeria div::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.5) 50%, rgba(0,0,0) 95%);
    opacity:0;
    transition: all .3s ease;
}

.galeria div img:first-child {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}

.galeria div img:last-child{
    width: 200px;
    object-fit: cover;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
}
.galeria div:hover{
    transform:
        perspective(250px) 
        rotatex(15deg)
        translateY(-5%)
        translateZ(0)
    ;
}

.galeria div:hover::before {
    opacity: 1;
}

.galeria div:hover img:last-child{
    opacity: 1;
    transform: translateY(10%);
}


.mario-shadow{
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
}

.luigi-shadow{
    box-shadow: 0 60px 60px -60px rgba(33, 160, 50, 0.5);
}

.toad-shadow{
    box-shadow: 0 60px 60px -60px rgba(134, 135, 140, 0.5);
}


/*****************************

CONTACT

*****************************/

#contact{
   width: 100vw;
    height: 100vh;
    background-color: var(--verde-oscuro);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, var(--violeta-oscuro) 40%, var(--violeta-claro) 60%, var(--violeta-rosa) 100%);
}

.wrapper{
    background-color: transparent;
    border: 2px solid var(--transparency-soft);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: var(--blanco);
    width: 420px;
    border-radius: 10px;
    padding: 30px;
    
}

.wrapper h2 {
    text-align: center;
    padding: 20px 0;
    font-size: 36px;
    color: light-dark(var(--negro-claro), var(--blanco));
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;

}

.wrapper .input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    border: 2px solid var(--transparency-soft);
    border-radius: 40px;
    font-size: 16px;
    color: var(--blanco);
    padding: 20px 45px 20px 20px;
}

.wrapper .input-box input::placeholder {
    color: var(--blanco);
}

.wrapper .input-box  i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .input-area{
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}

.input-area textarea {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    border: 2px solid var(--transparency-soft);
    border-radius: 40px;
    font-size: 16px;
    color: var(--blanco);
    padding: 20px 45px 20px 20px;
}

.wrapper .input-area textarea::placeholder {
    color: var(--blanco);
}


.wrapper .check-box {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.check-box label input{
    accent-color: var(--blanco);
    margin-right: 3px;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: var(--blanco);
    border: none;
    outline: none;
    border-radius: 40px;
    font-weight: 600px;
    cursor: pointer;
    font-size: 16px;
    color: var(--negro-claro);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin: 5px 0px 20px 0px;
}


/*****************************

US

*****************************/

#us{
    width: 100vw;
    height: 100vh;
    background-color: var(--azul-eletrico);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}


.carousel{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.carousel-item {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 300px; /* Ajusta según tus necesidades */
  margin-right: 16px; /* Espaciado entre elementos */
}
